:root {
    width: 1440px;
    height: 700px;

    --white: #ffffffff;
    --whitebg: #F8F8F8;
    --grey: #313131;
    --pink: #FECCFF;
    --black: #000000;
    padding: 10px;


}

/* width = 3235 */

#title {
    position: absolute;
    width: 800px;
    height: 100px;
    left: 0px;
    top: 250px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--white);

}

#line {
    position: absolute;
    height: 3px;
    color: var(--grey);

    left: 200px;
    top: 300px;
}

#sub1 {
    position: absolute;
    width: 800px;
    height: 100px;
    left: 0px;
    top: 325px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: var(--white);
}

#butDown {
    background-color: var(--white);
    border-radius: 10px;
    border: 10px solid var(--white);
    text-decoration: none;

    position: absolute;
    width: 140px;
    height: 40px;
    left: 330px;
    top: 400px;
    padding: 3px;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: var(--grey);


}

#text1 {
    position: absolute;
    width: 800px;
    height: 100px;
    left: 0px;
    top: 450px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: var(--white);
}

#example {
    position: absolute;
    width: 480px;
    height: 525px;
    left: 700px;
    top: 100px;
    align-items: left;
}